#case-study-body {
	overflow: hidden;

	display: flex;
	justify-content: center;
}

#case-study {
	width: 75%;

	display: flex;
}

/* Hide Scrollbar: */
/* I opted to hide the overflow instead since that is proven to be reliable,
while I am not sure about this method. */

/*body.case-study::-webkit-scrollbar {
  display: none;
}*/

#case-study img {
	width: 100%;
}

#case-study video {
	width: 100%;
}

#case-study h1, #case-study h2 {
	padding: 4rem 0 4rem 0;
	box-sizing: border-box;
}

#case-study p {
	padding: 4rem 6rem 4rem 6rem;
	box-sizing: border-box;
}

/* Mobile ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

@media (max-width: 800px) {

	#case-study {
		width: 100%;
/*		padding: 0 1rem 0 1rem;*/
	}

	#case-study p, #case-study h1, #case-study h2 {
		padding: 1rem 1.5rem 1rem 1.5rem;
		box-sizing: border-box;
	}

	#case-study img, #case-study video {
/*		padding: 1rem 0 1rem 0;*/
/*		box-sizing: border-box;*/
	}
}