#site-wrapper
{
	width: 90%;

	margin: 2.5%;
	padding: 2.5%;
}

#main
{
	width: 100%;

	clear: both;
}

.revealOnLoad
{
	transition: opacity 500ms;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	opacity: 0;
}

/* Nav Bar .................... */

#nav-bar
{
	width: 100%;

	overflow: visible;
}

#nav-bar a
{
	margin-bottom: 2px;

	text-decoration: none;

	color: black;
}

/* Typography .................... */

html
{
	font-family: "Karla", sans-serif;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0.02em;

	color: rgba(0,0,0,0.9);
}

h1
{
	font-size: 2em;
	font-weight: 400;
	letter-spacing: -0.005em;
}

h2
{
	font-size: 1.5em;
	font-weight: 400;
}

h3
{
	font-size: 0.6em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1.2em;
}

/* Hover Fade .................... */

.fade-out, .fade-in, .ghost-fade-in
{
	transition: opacity 250ms;
	-webkit-transition: opacity 250ms;
	-moz-transition: opacity 250ms;
	-o-transition: opacity 250ms;
}

.fade-in { opacity: 0.6; }

.ghost-fade-in { opacity: 0.2; }

/* Spacers .................... */

.spacer-tall
{
	width: 100%;
	height: 200px;
}

.spacer-normal
{
	width: 100%;
	height: 100px;
}

.spacer-short
{
	width: 100%;
	height: 50px;
}

/* Desktop |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

@media only screen and (min-width: 768px)
{
	/* Nav Bar .................... */

	#nav-bar a
	{
		margin-right: 25px;

		float: left;
	}
}

/* Mobile |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

@media only screen and (max-width: 768px)
{
	/* Nav Bar .................... */
	
	#nav-bar a
	{
		float: right;
		clear: right;
	}

	/* Typography .................... */

	html
	{
		font-size: 18px;
		letter-spacing: 0.04em;
	}

	h3 { font-size: 0.8em; }
}