#site-wrapper
{
	width: 90%;

	margin: 2.5%;
	padding: 2.5%;
}

#main
{
	width: 100%;

	clear: both;
}

/* Nav Bar ............................................................ */

#nav-bar
{
	width: 100%;

	overflow: visible;
}

#nav-bar a
{
	text-decoration: none;

	margin-right: 25px;

	float: left;

	color: black;
}

/* Fonts ............................................................ */

html
{
	font-family: "Karla", sans-serif;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0.02em;

	color: rgba(0,0,0,0.9);
}

h1
{
	font-size: 2.4em;
	font-weight: 400;
	letter-spacing: -0.005em;
}

h2
{
	font-size: 1.4em;
	font-weight: 400;
}

h3
{
	font-size: 0.6em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

/* Hover Fade ............................................................ */

.fade { opacity: 0.6; }

.soft-fade { opacity: 0.2; }

/* Spacers ............................................................ */

.spacer-tall
{
	width: 100%;
	height: 250px;
}

.spacer-normal
{
	width: 100%;
	height: 100px;
}

.spacer-short
{
	width: 100%;
	height: 50px;
}

/* Mobile |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

@media only screen and (max-width: 768px)
{
	html
	{
		font-size: 18px;
		letter-spacing: 0.02em;
	}
}