@import url('variables.css');

.experiment {
	width: 300px;
	min-height: 300px;
	padding: 32px 32px 32px 32px;
	margin-bottom: 32px;
	border-radius: 16px;
/*	box-sizing: border-box;*/

	display: inline-block;
	overflow: hidden;
/*	box-shadow: 4px 4px 5px rgba(0, 0, 0, .2);*/

/*	transition: .5s;*/

	background-color: white;
}

experiment h3 {
	margin-bottom: 64px;
}

@media (max-width: 768px) {
	experiment {
		margin-left: auto;
		margin-right: auto;
	}
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* START - Bouncing Slime Animation */

#mainHolder {
	width: 300px;
	height: 300px;
	position: relative;
/* 	background-color: green; */
}

#charHolder {
	width: 100px;
	height: 300px;
	position: absolute;
	left: calc(50% - 25px);
	bottom: 0;
/* 	background-color: yellow; */
}

#charHolder #animBody {
	position: absolute;
	bottom: 0;
}

#animBody {
	width: 50px;
	height: 120px;
	border-radius: 50px 50px 10px 10px;
	position: relative;
	background-color: red;
}

#eye {
	width: 75px;
	height: 75px;
	margin-top: 20px;
	left: 0;
/* 	margin-left: auto; */
/* 	margin-right: auto; */
	border-radius: 35px;
	position: absolute;
	overflow: hidden;
/* 	border: solid 10px red; */
/* 	box-sizing: border-box; */
	background-color: white;
}

#pupil {
	width: 50%;
	height: 50%;
	margin-top: 10px;
	border-radius: 50%;
	position: absolute;
	background-color: black;
}

#reflection {
	width: 50%;
	height: 50%;
	border-radius: 50%;
	position: absolute;
	left: 10%;
	top: 10%;
	background-color: white;
}

/* Animations */

.BopAnim {
	animation-name: Bop;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.ShiftCenterAnim {
	animation-name: ShiftCenter;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}

.anim-pupil-left-right {
	animation-name: anim-pupil-left-right;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.anim-eye-left-right {
	animation-name: anim-eye-left-right;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes Bop {
	0% {
		width: 200px;
		height: 120px;
		border-radius: 160px 160px 50px 50px;
	}
	50% {
		width: 100px;
		height: 250px;
		border-radius: 50px 50px 10px 10px;
	}
	100% {
		width: 200px;
		height: 120px;
		border-radius: 160px 160px 50px 50px;
	}
}

@keyframes ShiftCenter {
	0% { left: calc(50% - 100px); }
	50% { left: calc(50% - 50px); }
	100% { left: calc(50% - 100px); }
}

@keyframes anim-eye-left-right {
	0% { left: 10%; }
	50% { left: calc(90% - 50px); }
	100% { left: 10%; }
}

@keyframes anim-pupil-left-right {
	0% { left: 0%; }
	50% { left: 50%; }
	100% { left: 0%; }
}

/* END - Bouncing Slime Animation */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* START - GameBoy JS */

#wrapper {
/*	display: flex;*/
}

#screen {
	width: 300px;
	height: 300px;
	position: relative;
	background-color: beige;
}

#player {
	width: 10%;
	height: 10%;
	position: absolute;
	left: 0;
	top: 0;
	transition: .25s ease;
	background-color: black;
}

#controls-wrapper {
	width: 300px;
	height: 200px;
	padding-top: 32px;
}

#controls {
	width: 66.6666%;
	height: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
/*	background-color: yellow;*/
}

#controls .button {
	width: 33.3%;
	height: 33.3%;
	position: absolute;
	background-color: var(--half-grey);
	transition: .25s ease;
}

#controls .button:hover {
	background-color: var(--light-grey);
	transition: .25s ease;
}

#controls .button:active {
	background-color: var(--dark-grey);	
	transition: .25s ease;
}

#controls .button#up {
	border-radius: 50% 50% 0 0;
	left: 33.3%;
	top: 0;
}

#controls .button#up:hover {
	top: -2%;
}

#controls .button#up:active {
	top: 2%;
}

#controls .button#down {
	border-radius: 0 0 50% 50%;
	left: 33.3%;
	bottom: 0;
}

#controls .button#down:hover {
	bottom: 2%;
}

#controls .button#down:active {
	bottom: -2%;
}

#controls .button#left {
	border-radius: 50% 0 0 50%;
	top: 33.3%;
}

#controls .button#left:hover {
	top: 31.3%;
}

#controls .button#left:active {
	top: 35.3%;
}

#controls .button#right {
	border-radius: 0 50% 50% 0;
	top: 33.3%;
	right: 0;
}

#controls .button#right:hover {
	top: 31.3%;
}

#controls .button#right:active {
	top: 35.3%;
}

/* END - GameBoy JS */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* START - Animated Frame */

#card {
	width: 300px;
	height: 400px;
	position: relative;
	background-color: beige;
}

#card i {
	font-size: 2rem;
	position: absolute;
	left: calc(50% - 18px);
	top: calc(50% - 28px);
}

#contents {
	width: 250px;
	height: 350px;
	position: absolute;
	left: 25px;
	top: 25px;
	overflow: hidden;
/*	border: solid black 2px;*/
	box-sizing: border-box;
/* 	background-color: yellow;*/
}

.top-side {
	width: 200px;
	height: 50px;
	position: relative;
	left: 50px;
	top: -50px;
	transition: .5s ease;
	overflow: hidden;
	background-color: red;
}

.top-contents {
	width: 400px;
	height: 50px;
	position: absolute;
	left: -200px;
	display: flex;
	background-color: green;
}

.top-contents-bg {
	width: 200px;
	height: 50px;
	background-image: linear-gradient(to right, orange, blue);
}

.TopContentsAnim {
	animation-name: TopContentsAnim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear; */
}

@keyframes TopContentsAnim {
	0% { left: -200px; }
	100% { left: 0; }
}

.right-side {
	width: 50px;
	height: 300px;
	position: absolute;
	right: -50px;
	top: 50px;
	overflow: hidden;
	transition: .5s ease;
	background-color: red;
}

.right-contents {
	width: 50px;
	height: 600px;
	position: absolute;
	top: -300px;
	background-color: green;
}

.right-contents-bg {
	width: 50px;
	height: 300px;
	background-image: linear-gradient(to bottom, orange, blue);
}

.RightContentsAnim {
	animation-name: RightContentsAnim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}

@keyframes RightContentsAnim {
	0% { top: -300px; }
	100% { top: 0px; }
}

.btm-side {
	width: 200px;
	height: 50px;
	position: absolute;
	right: 50px;
	bottom: -50px;
	transition: .5s ease;
	overflow: hidden;
	background-color: red;
}

.btm-contents {
	width: 400px;
	height: 50px;
	position: absolute;
	left: 0;
	display: flex;
	overflow: hidden;
	background-color: green;
}

.btm-contents-bg {
	width: 200px;
	height: 50px;
	background-image: linear-gradient(to left, orange, blue);
}

.BtmContentsAnim {
	animation-name: BtmContentsAnim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear; */
}

@keyframes BtmContentsAnim {
	0% { left: 0; }
	100% { left: -200px; }
}

.left-side {
	width: 50px;
	height: 300px;
	position: absolute;
	left: -50px;
	bottom: 50px;
	overflow: hidden;
	transition: .5s ease;
	background-color: red;
}

.left-contents {
	width: 50px;
	height: 600px;
	position: absolute;
	top: -300px;
	background-color: green;
}

.left-contents-bg {
	width: 50px;
	height: 300px;
	background-image: linear-gradient(to top, orange, blue);
}

.LeftContentsAnim {
	animation-name: LeftContentsAnim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}

@keyframes LeftContentsAnim {
	0% { top: 0; }
	100% { top: -300px; }
}

/* END - Animated Frame */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* START - Grid Nodes */

#grid-frame {
	width: 300px;
	height: 300px;
	position: relative;
	background-color: var(--light-grey);
}

#grid-frame div {
	border-radius: 20px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
	transition: .25s ease;
	background-color: white;
	z-index: 1;
}

#grid-frame div:hover {
	box-shadow: 8px 8px 2px rgba(0, 0, 0, .25);
	transition: .25s ease;
	z-index: 100;
}

/* END - Grid Nodes */