#show-code-btn {
	padding: 8px;
	margin: 32px 32px 32px 0;
}

.experiment {
	width: 300px;
	min-height: 300px;
	padding: 32px 32px 32px 32px;
	margin-bottom: 32px;
	border-radius: 16px;
/*	box-sizing: border-box;*/

	display: inline-block;
/*	display: flex;*/
	overflow: hidden;
/*	box-shadow: 4px 4px 5px rgba(0, 0, 0, .2);*/

/*	transition: .5s;*/

	background-color: white;
}

experiment h3 {
	margin-bottom: 64px;
}

@media (max-width: 768px) {
	experiment {
		margin-left: auto;
		margin-right: auto;
	}
	#show-code-btn {
		margin: 32px;
	}
}