html
{
	font-size: 32px;
}

#site-wrapper
{
	width: 90%;

	margin: 2.5%;
	padding: 2.5%;

	background-color: beige;
}

#nav-bar
{
	width: 100%;

	padding-bottom: 2.5%;

	overflow: hidden;
}

#nav-bar a
{
	margin-right: 20px;

	float: left;
}