@import "css-reset.css";
@import "type.css";
@import "variables.css";
@import "gallery.css";
@import "case-study.css";
@import "thoughts.css";
@import "skillset.css"; /* Skills */
@import "standard-frame.css";
@import "tools.css"; /* Preset classes */

/* Built-in ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

html {
/*	background-color: floralwhite;*/
	background-color: pink;
}

nav {
	width: 100%;
	height: 4rem;
	
	position: relative;
}

footer {
	width: 100%;
}

#page-top {
	width: 100%;
	height: auto;

	transition: background-color .5s ease-in-out;
}

/* Intro ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*#intro {
	width: 100%;
}*/

/*.intro-text {
	max-width: 1200px;
}*/

/* Home Button ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#home-btn {
	position: absolute;
	left: 0;
	right: auto;

	cursor: pointer;
}

/* We control the position of the home button by resizing this <div>,
since there is no simple way to make the home button animate 
from "left: 0" to "right: 0". */
.home-btn-positioner {
	width: 100%;
	height: 100%;

	position: absolute;
	right: 0;

	transition: 1.25s ease-in-out;
}

/* Logo ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.icon-main-cont {
	width: 4rem;
	height: 4rem;
	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: 1s ease-out;
}

.icon-inner-cont {
	width: 2rem;
	height: 2rem;

	position: relative;

	overflow: hidden;
}

.back-icon {
	width: 2rem;
	height: 2rem;

	background-image: url("../media/icon/arrow-left.svg");
	background-size: cover;
	background-repeat: no-repeat;

	position: absolute;
	left: 4rem;

	transition: .25s ease-out;
}

#logo-r {
	width: 2rem;
	height: 2rem;

	position: absolute;
	left: 0;

	display: flex;
	flex-wrap: wrap;

	transition: .25s ease-out;
}

#logo-r #top {
	width: 2rem;
	height: 1rem;

	border-radius: 0 .5rem .5rem 0;
	background-color: var(--accent-color);
}

#logo-r #btm-left {
	width: 1rem;
	height: 1rem;
	background-color: var(--accent-color);
}

#logo-r #btm-right {
	border-left: 0 solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 1rem solid var(--accent-color);
	box-sizing: border-box;
}

/* Mobile ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

@media (max-width: 800px) {
	.home-btn-positioner {
		width: 4rem;
	}
}