@import url('css-reset.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('variables.css');
@import url('utilities.css');
@import url('containers.css');

html {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	letter-spacing: .02rem;
	color: var(--dark-grey);

	word-wrap: break-word;

	opacity: 0;
	transition: opacity 1s ease-out;

	background-image: linear-gradient(to right, white, rgba(0, 0, 0, .05));
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

h2, h3 {
/*	margin: 32px 32px 64px 32px;*/
	margin: 32px;
}

h2 {
/*	font-size: 2rem;*/
	font-size: var(--double);
}

h3 {
	font-size: .75rem;
}

a {
	text-decoration: none;
	color: inherit;
}

code, pre {

/*	padding: 32px 32px 32px 32px;*/
	padding-left: 32px;
	margin: 32px 32px 32px 32px;
/*	margin: 0 0 32px 0;*/
	display: inline-block;

	font-style: italic;
	line-height: 1.3rem;

	border-left: solid rgba(0,0,0,0.08) 2px;
	box-sizing: border-box;

	color: grey;
}

p {
	margin: 32px;
	line-height: 1.4rem;
}

p.source {
	font-size: .8rem;
	color: var(--half-grey);
	padding: 16px 16px 16px 24px;
	transition: .5s ease;
}

p.source:hover {
	color: black;
	padding: 16px 16px 16px 24px;
	background-color: #ffd54b;
	transition: .5s ease;
}

/* START: Navigation */

#nav {
	width: 100%;
/*	height: auto;*/
	height: 128px;
/*	background-color: blue;*/
}

#nav #imp {
	width: 16px;
	height: 16px;

	position: absolute;
	left: 56px;
	top: 56px;

	border-radius: 50%;
	filter: blur(5px);

	opacity: 0;

	z-index: 100;

	background-color: var(--light-grey);
}

.DriftRightAnim {
	animation-name: DriftRight;
	animation-duration: 2s;
	animation-timing-function: linear;
}

@keyframes DriftRight {
	0% {
/*		width: 16px;*/
/*		height: 16px;*/
		opacity: 0;
		left: 56px;
/*		filter: blur(0);*/
	}
	50% {
		opacity: 1;
	}
	100% {
/*		width: 0;*/
/*		height: 0;*/
		opacity: 0;
		left: 500px;
/*		filter: blur(5px);*/
	}
}

#logo-cont {
	width: 64px;
	height: 64px;

/*	opacity: 0.5;*/

	position: relative;
	left: 32px;
	top: 32px;

	transition: 1s ease;
	background-color: white;
}

#r {
	width: 32px;
	height: 32px;

	position: absolute;
	left: 16px;
	top: 16px;

	display: flex;
	flex-wrap: wrap;

/*	background-color: yellow;*/
}

#r #top {
	width: 32px;
	height: 16px;
	border-radius: 0 8px 8px 0;
	background-color: black;
}

#r #btm-left {
	width: 16px;
	height: 16px;
	background-color: black;
}

#r #btm-right {
/*	width: 100%;*/
/*	height: 50%;*/
	border-left: 0 solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid black;
	box-sizing: border-box;

/*	background-color: black;*/
}

/*#logo-cont {
	width: 128px;
	height: 128px;

	opacity: .25;

	display: inline-block;

	position: relative;
	left: 0;

	transition: 1s;

	background-color: orange;
}*/

#logo-cont:hover {
/*	opacity: 1;*/
	left: 48px;
	transition: 1s ease;
	background-color: #ffd54b;
}

/*#logo {
	width: 25%;
	height: 25%;

	position: absolute;
	left: 37.5%;
	top: 37.5%;

	border-radius: 50%;
	border: 10px solid var(--dark-grey);
	box-sizing: border-box;

	transition: .5s ease;

	background-color: white;
}*/

/*#logo:hover {
	width: 50%;
	height: 50%;

	left: 25%;
	top: 25%;

	border-width: 2px;

	transition: .5s ease;
}*/

/* END: Navigation */

.footer {
	width: 100%;
	height: auto;
	padding: 32px;
	box-sizing: border-box;

	color: var(--light-grey);
	transition: .5s ease;

/*	border-top: solid rgba(0, 0, 0, .1) 1px;*/

	background-color: white;
}

.footer:hover {
	color: var(--half-grey);
	transition: .5s ease;
}

/* START: Section Buttons */

.sect-btns {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
/*	padding: 32px;*/
	box-sizing: border-box;
/*	background-color: red;*/
}

.sect-btns a {
	display: block;
	width: 25%;
	height: auto;
/*	background-color: blue;*/
}

#sect-btn-1 { order: 3; }
#sect-btn-2 { order: 2; }
#sect-btn-3 { order: 1; }

.sect-btn-cont {
	width: 100%;
	height: 100%;
	align-content: center;
/*	background-color: orange;*/
}

.sect-btn {
	width: 75%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 64px;
	padding-bottom: 64px;
	box-sizing: border-box;
	transition: .2s ease;
/*	background-color: yellow;*/
}

.sect-btn:hover {
	padding-left: 32px;
	transition: .2s ease;
}

.sect-thumb {
	width: 100%;
	height: 400px;
	background-color: #ffd54b;
}

.sect-thumb#illustration {
	background-image: url(../img/tiger-puff-low-res.png);
	background-size: 400%;
	background-position: -475px -270px;
	background-repeat: no-repeat;
	background-color: #ffdea6;
}

.sect-text {
	width: 100%;
	height: auto;
	padding: 16px;
	box-sizing: border-box;
	color: black;
	background-color: white;
}

/* END: Section Buttons */


/* START: Mobile */

@media (max-width: 1280px) {
	.sect-btns {
		flex-direction: initial;
	}

	#sect-btn-1 { order: 1; }
	#sect-btn-2 { order: 2; }
	#sect-btn-3 { order: 3; }

	.sect-btns a {
		width: 50%;
	}
}

@media (max-width: 768px) {
	#logo-cont {
/*		display: none;*/
	}

	.sect-btns a {
		width: 100%;
	}
}

/* END: Mobile */

.thought {
	padding: 32px 32px 32px 32px;
	border-radius: 16px;
	box-sizing: border-box;
	display: inline-block;
	transition: .5s;
	background-color: white;
}

.thought:hover {
	box-shadow: 0 4px 5px rgba(0, 0, 0, .1);
	transition: .5s;
}