#thoughts-container {

	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
}

.thought {
	margin-top: 1rem;
	padding: 2rem;
/*	background-color: white;*/
}

.thought h2 {
	margin-bottom: 1rem;
	font-weight: 500;
}

.thought p {
	margin-bottom: 1rem;
}