/* Colour ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.bg-base { background-color: var(--base-color); }
.bg-white { background-color: white; }
.bg-black { background-color: black; }
.bg-accent { background-color: var(--accent-color); }

/* Flex ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.flex { display: flex; }
.center-x { justify-content: center; }
.center-y { align-items: center; }

/* Sizes ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.full-width { width: 100% !important; }
.full-height { height: 100% !important; }
.half-width { width: 50% !important; }
.half-height { height: 50% !important; }

.invert-scale-x { transform: scaleX(-1); }
.invert-scale-y { transform: scaleY(-1); }

/* Shadow ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.shadow { box-shadow: none; }
.shadow:hover { box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .125); }