#sketch-zoom
{
	position: absolute;

	top: 0;
	left: 0;

	visibility: hidden;
}

#sketchbook-thumbnail-container
{
}

.sketchbook-thumbnail
{
	width: 25%;
	height: auto;

	float: left;

	overflow: hidden;
}

/* Tablet |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

@media only screen and (max-width: 1024px)
{
	.sketchbook-thumbnail { width: 50%; }
}

/* Mobile |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

@media only screen and (max-width: 768px)
{
	.sketchbook-thumbnail { width: 100%; }
}

/* Work .................... */

.work-thumbnail
{
	width: 33.3%;
	height: auto;

	float: left;

	overflow: hidden;
}

.work-thumbnail-contents
{
	width: 100%;
	height: auto;

	padding: 10%;
}

.work-thumbnail img
{
	width: 80%;
	height: auto;
}

@media only screen and (max-width: 768px)
{
	.work-thumbnail { width: 100%; }
}