/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

html {
	background-color: #f9f4ec;
	color: white;
}

footer {
	height: 20vh;
/*	background-color: yellow;*/
}

iframe {
	width: 100%;
	height: 80vh;
	border: none;
}

#site-wrapper {
	width: 100%;
	height: fit-content;
/*	background-color: beige;*/

	display: flex;
	flex-flow: column;
	gap: 1rem;

	padding: 2rem 8rem 8rem 8rem;
	box-sizing: border-box;
}

/* Boxes ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.box-row {
	width: 100%;
	height: 50vh;
/*	background-color: grey;*/

	display: flex;
	gap: 1rem;
}

.box-row-header {
	padding-top: 4rem;
}

.box-row .box {
	width: 100%;
	height: 100%;
/*	background-color: darkgray;*/

	border-radius: 1rem;

	overflow: hidden;

	transition: opacity 1s;

	cursor: pointer;
}

.box-row .box .thumbnail {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	object-position: center;

	opacity: .5;
	transition: opacity .5s;
}

.box-row .box .thumbnail:hover {
	opacity: 1;
	transition: opacity .5s;
}

.box-row .empty {
	width: 100%;
	height: 100%;
}

.box-row .box.outline {
	border: solid 1px rgba(255, 255, 255, .15);
	box-sizing: border-box;
}

.box-row .box.outline:hover {
	border-color: rgba(255, 255, 255, .2);
}

.box#tea-cup { background-color: black; }
.box#kettle { background-color: #4c7c64; }
.box#thank-you { background-color: #f8f7ef; }

/* Close Up ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#close-up-container {
	width: 100%;
	height: 100%;
	background-color: black;

	position: absolute;

	display: none;
	justify-content: center;

	opacity: 0;

	z-index: 1;

	overflow: hidden;
}

#close-up-container .close-btn {
	width: 2em;
	height: 2em;
	background-color: rgba(0, 0, 0, .2);

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 2em;

	position: absolute;
	top: 1rem;
	right: 1rem;

	z-index: 3;

	border-radius: .5rem;

	opacity: .5;

	cursor: pointer;

	transition: opacity .5s;
}

#close-up-container .close-btn:hover {
	opacity: 1;
	transition: opacity .5s;
}

#close-up-container .loader {
	width: 100%;
	height: 100%;
	background-color: black;

	position: absolute;

	z-index: 2;
}

#close-up-container img {
	width: auto;
	height: 100%;
}

/* Mobile ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

@media only screen and (max-width: 700px) {

	#site-wrapper {
		padding: 2rem 2rem;
	}

	.box-row {
		height: auto;
		flex-flow: column;
	}

	.box-row .box {
		opacity: .2;
		overflow: clip;
		-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
	}

	.box-row .box .thumbnail {
		opacity: 1;
		object-fit: cover;
	}
}

/* Tools ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/