/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

html {
	background-color: black;
	color: white;
}

#site-wrapper {
	width: 100%;
	height: 100%;
/*	background-color: beige;*/

	display: flex;
	flex-flow: column;
	gap: 1rem;

	padding: 2rem 8rem;
	box-sizing: border-box;
}

/* Boxes ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.box-row {
	width: 100%;
	height: 50vh;
/*	background-color: grey;*/

	display: flex;
	gap: 1rem;
}

.box-row .box {
	width: 100%;
	height: 100%;
/*	background-color: darkgray;*/

	overflow: hidden;
	
	cursor: pointer;
}

.box img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	object-position: center;
}

.box#tea-cup { background-color: black; }
.box#kettle { background-color: #4c7c64; }

/* Close Up ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#close-up-container {
	width: 100%;
	height: 100%;
	background-color: black;

	position: absolute;

	display: none;
	justify-content: center;

	opacity: 0;
}

#close-up-container .close-btn {
	width: 5vw;
	height: 5vw;
/*	background-color: red;*/

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 2vw;

	position: absolute;
	top: 0;
	right: 0;

	z-index: 2;

	cursor: pointer;
}

#close-up-container .loader {
	width: 100%;
	height: 100%;
	background-color: black;

	position: absolute;

	z-index: 1;
}

#close-up-container img {
	width: auto;
	height: 100%;
}