.main-cont {
	width: 100%;
	height: auto;
/*	box-sizing: border-box;*/
/*	background-color: lightblue;*/
}

.main-cont section {
	display: flex;
/*	background-color: yellow;*/
}

.main-cont section .left {
	width: 40%;
	min-height: 400px;
	padding: 64px 128px 64px 64px;
/*	background-color: lightcoral;*/
}

.main-cont section .right {
	width: 60%;
	min-height: 400px;
	padding: 64px 256px 64px 64px;
/*	background-color: purple;*/
}

.main-cont section object {
	width: 100%;
	min-height: 500px;
}