#skillset {
/*	width: 100%;*/
/*	background-color: orange;*/

	position: relative;

/*	padding: 2rem;*/
	box-sizing: border-box;

	flex-wrap: wrap;
}

.skill {
/*	width: 4rem;*/
	min-width: 3rem;
	height: 3rem;
	background-color: var(--base-color);

	background-position: center;
	background-repeat: no-repeat;

	position: relative;
	bottom: 0;

	margin: .125rem;
	border-radius: .5rem;
	box-sizing: border-box;

	/*display: flex;
	justify-content: center;
	align-items: center;*/

/*	overflow: hidden;*/

	filter: invert(100%);
/*	filter: none;*/
	transition: .125s ease-in-out;
}

.skill:hover {
	bottom: .25rem;
	filter: none;
}

.skill.godot {
	background-image: url("../media/icon/icon_monochrome_light.svg");
	background-size: auto 60%;
}

/*.skill .godot:hover {
	filter: invert(100%);
}*/

/* Mobile ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*@media (max-width: 800px) {

}*/