#skillset {
/*	width: 100%;*/
/*	background-color: orange;*/

/*	padding: 2rem;*/
	box-sizing: border-box;

	flex-wrap: wrap;
}

.skill {
/*	width: 4rem;*/
	min-width: 4rem;
	height: 4rem;
	background-color: var(--base-color);

	margin: .25rem;
	border-radius: .5rem;
	box-sizing: border-box;

	/*display: flex;
	justify-content: center;
	align-items: center;*/

/*	overflow: hidden;*/

	filter: none;
	transition: .125s ease-in-out;
}

.skill.godot {
	background-image: url("../media/icon/icon_monochrome_light.svg");
	background-size: auto 60%;
	background-position: center;
	background-repeat: no-repeat;
}

/*.skill .godot:hover {
	filter: invert(100%);
}*/