/* Colour ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.bg-base { background-color: var(--base-color); }
.bg-white { background-color: white; }
.bg-accent { background-color: var(--accent-color); }

/* Flex ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.flex { display: flex; }
.center-x { justify-content: center; }
.center-y { align-items: center; }

/* Sizes ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.full-width { width: 100%; }
.full-height { height: 100%; }
.half-height { height: 50%; }

.invert-scale-x { transform: scaleX(-1); }
.invert-scale-y { transform: scaleY(-1); }