@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

html {
	background-color: #ffc2b3;
	overflow: hidden;

	color: deeppink;
/*	color: #352310;*/
	font-family: 'Rubik Bubbles', sans-serif;
	letter-spacing: .0625rem;

	cursor: url('media/Mouse.png'), auto;
}

body {
	display: flex;
/*	padding-bottom: 32px;*/
}

/* Tools ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.pointer {
	cursor: url('media/Pointer.png'), auto;
}

.zoom:hover {
	scale: 1.125;
}

.tilt:hover {
	rotate: 5deg;
}

.mandarin {
	font-family: "ZCOOL KuaiLe", sans-serif;
/*	font-weight: 500;*/
}

.scale-0-75 {
	scale: .75;
}

.scale-1-25 {
	scale: 1.25;
}

.scale-1-5 {
	scale: 1.5;
}

.scale-2 {
	scale: 2;
}

.scale-3 {
	scale: 3;
}

/* Login ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#login-wrapper {
	width: 100%;
	height: 100%;
	background-color: dodgerblue;

	display: flex;
/*	display: none;*/
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;

	opacity: .95;
}

#login-ui {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#login-ui img {
	width: 64px;
	height: 64px;

	filter: brightness(3.0);
}

#login-ui p {

	margin-bottom: 48px;

	color: white;
	font-size: 2rem;
	text-align: center;
}

#login-btn {
	width: 256px;
	height: 64px;
	background-image: url('media/Mail-Selector.png');
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;

	scale: 1.5;
}

#login-btn:hover {
	scale: 1.6;
}

#login-btn::after {
	content: "LOGIN";
}

/* Foreground ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#foreground {
	width: 100%;
/*	height: 256px;*/
/*	background-color: fuchsia;*/

	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 201;

/*	opacity: .5;*/
}

#foreground .pink-flower {
	width: 128px;
	height: 256px;
	background-image: url('media/Pink-Flower.gif');
/*	background-color: blue;*/

	position: absolute;
/*	bottom: 0;*/
/*	left: 0;*/
	z-index: 3;
}

#flower-1 {
	bottom: 0;
	left: 0;
	filter: brightness(1.125) blur(.25rem);
}

#flower-2 {
	bottom: -1rem;
	left: 16rem;
}

#flower-3 {
	bottom: -8rem;
	right: 36rem;
	filter: blur(.25rem);
}

/*#flower-4 {
	bottom: -2rem;
	right: 4rem;
	filter: brightness(1.5) blur(.25rem);
}*/

/* Desktop ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#desktop {
	width: 100%;
	height: 90%;
	background-color: floralwhite;

	margin: 32px;
	padding: 64px;
	box-sizing: border-box;

	position: relative;

	border-radius: 1rem;
}

.icon {
/*	background-color: orange;*/
	margin-right: 32px;

/*	display: inline-block;*/
	display: inline-flex;
	flex-flow: column;
	align-items: center;
}

.image {
	width: 128px;
	height: 128px;
/*	background-color: #f19af9;*/
}

#trash.image {
	background-image: url('media/Trash-Closed.png');
}

#trash.image:hover {
	background-image: url('media/Trash-Open.png');
}

#trash.image::after {
	content: url('media/Trash-Open.png');
	width: 0;
	height: 0;
	z-index: -1;

	position: absolute;

	overflow: hidden;
}

#mail.image {
	background-image: url('media/Mail.png');
}

.icon p {
	margin-top: 8px;
}

/* Yao Yao ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#yaoyao-wrapper {
	width: 256px;
	height: 256px;

	position: absolute;
	bottom: 64px;
	right: 64px;
}

#yaoyao {
	width: 100%;
	height: 100%;
/*	background-color: pink;*/
	background-image: url('media/YaoYao-Sleep.png');
	background-repeat: no-repeat;
}

#yaoyao:hover {
	background-image: url('media/YaoYao-Wake.png');
}

#yaoyao:active {
	background-image: url('media/YaoYao-Stroke.png');
}

#tail {
	width: 128px;
	height: 128px;
	background-image: url('media/Tail.gif');

	position: absolute;
	bottom: 0;
	left: -2rem;
	z-index: -10;
}

#yaoyao::after {
	content: url('media/YaoYao-Wake.png') url('media/YaoYao-Stroke.png');
	width: 0;
	height: 0;
	z-index: -1;

	position: absolute;

	overflow: hidden;
}

/* Programs ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#email-wrapper {
	width: 100%;
	height: 100%;
/*	background-color: rgba(220, 80, 80, .5);*/
	background-color: rgba(255, 255, 255, .5);

/*	display: flex;*/
	display: none;

	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.window {
	width: 75%;
	height: 80%;
	background-color: floralwhite;

/*	display: flex;*/
/*	flex-flow: column;*/

	position: relative;

	border-radius: 16px;

	overflow: hidden;

	border: solid 10px #362411;

	box-shadow: 16px 16px 8px rgba(30, 144, 255, .5);
}

.control-wrapper {
	width: 100%;
	height: 64px;
	background-color: dodgerblue;

/*	position: relative;*/
}

#email-window .control-wrapper::before {
	content: "SweetSnack - Inbox";

	position: absolute;
	top: 24px;
	left: 24px;

	color: floralwhite;
	text-transform: uppercase;
}

.back-btn {
	width: 64px;
	height: 64px;
	background-image: url('media/Cancel.png');
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
/*	background-color: red;*/

	position: absolute;
	top: 0;
	right: 0;

	z-index: 200;
}

.content-wrapper {
	width: 100%;
	height: 100%;
	background-color: floralwhite;

	display: flex;
}

/* Email ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#email-window {
/*	width: 100%;*/
/*	z-index: 2000;*/
}

#mail-list {
/*	width: 30%;*/
/*	min-width: 256px;*/
	height: 100%;
	background-color: lightskyblue;

	display: flex;
	align-items: center;
	flex-flow: column;

	padding: 16px 0;
}

#mail-list div {
	width: 256px;
	height: 64px;
	background-image: url('media/Mail-Selector.png');
/*	background-color: yellow;*/

	display: flex;
	justify-content: center;
	align-items: center;
}

#mail-list p {
	padding: 8px;
/*	background-color: orange;*/
}

.heart {
	position: relative;
}

.heart::after {
	content: "";
	width: 3rem;
	height: 3rem;
/*	background-color: yellow;*/
	background-image: url('media/Heart.png');
	background-size: cover;

	position: absolute;
	top: 0;
	right: 0;

	animation: Pulse 1s steps(2, jump-start);
	animation-iteration-count: infinite;
}

@keyframes Pulse {
	0% {
		transform: scale(1.0);
		rotate: -10deg;
	}

	40% {
		transform: scale(2.0);
		rotate: 5deg;
	}

	100% {
		transform: scale(1.0);
		rotate: -10deg;
	}
}

#reading-view {
	width: 70%;
	height: 100%;
	background-color: floralwhite;
	background-image: url('media/Flower.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.message {
	width: 100%;
	height: 100%;
	background-color: floralwhite;

	display: none;

/*	display: flex;*/
/*    justify-content: center;*/
	align-items: baseline;
    flex-flow: column;

	padding: 32px;
	box-sizing: border-box;

	font-size: 2rem;
}

#birthday.message {
	justify-content: center;
	flex-flow: row;
}

#reading-view p {
	padding: 16px 0;
}

/* Letter ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#envelope {
	width: 50%;
	max-width: 512px;
	height: auto;
/*	background-image: url('media/Envelope.png');*/
/*	background-repeat: no-repeat;*/
/*	background-size: 100%;*/
/*	background-color: yellow;*/

/*	rotate: 5deg;*/
}

#envelope:hover {
	rotate: 2.5deg;
}

#letter-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 213, 75);

/*	display: flex;*/
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
	z-index: 200;
}

#letter {
	width: 40%;
	height: auto;
	background-color: beige;

	padding: 32px;

	position: absolute;

	border-radius: .25rem;

	color: rgba(65, 105, 225, .9);
	font-size: 1.5rem;
	font-family: "Playpen Sans", sans-serif;
	letter-spacing: 0;

	box-shadow: 8px 8px 12px rgba(54, 35, 17, .5);

	rotate: 5deg;

	transition: rotate 1s;
}

#letter:hover {
	rotate: 1deg;
	transition: rotate .5s;
}

#letter p {
	margin-bottom: 64px;
}

/* Milo ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#milo-chooser {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .75);

/*	display: flex;*/
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
	z-index: 1;
}

.card {
	width: 256px;
	height: 256px;
	background-color: #ffc2b3;
	background-repeat: no-repeat;
	background-position: center;

	margin: 0 8px;

	border-radius: 1rem;
}

#tin-selector {
	background-color: transparent;
	background-image: url('media/Tin.png');
	background-size: 90%;

	position: relative;

	opacity: .9;

/*	rotate: -5deg;*/
}

#tin-selector::before {
	content: "SOLD OUT";
	background-color: deeppink;

	padding: .5rem 1rem;

	position: absolute;
	top: 0;
	right: 0;
/*	bottom: -1rem;*/
/*	left: -1rem;*/

	border-radius: 2rem;

	color: white;
	text-align: center;
}

#sandwich-selector { background-image: url('media/Sandwich.png'); }
#roti-selector { background-image: url('media/Roti.png'); }
#peng-selector { background-image: url('media/Peng.png'); }

/* Pet */

#pet-wrapper {
	width: 100%;
	height: 256px;
/*	background-color: yellow;*/

	display: none;

	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.pet {
	width: 256px;
	height: 256px;
/*	background-color: blue;*/

	position: absolute;
	bottom: 0;
	left: 0;
}

#pet-image {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;

	position: absolute;
/*	bottom: 0;*/
	left: 0;
	z-index: 1;
}

/* Shadow */
.pet::after {
	content: "";
	width: 64px;
	height: 64px;
	background-color: rgba(54, 35, 17, .25);

	position: absolute;
	bottom: 8px;
	left: 96px;

	border-radius: 128px;

	transform: scaleY(.25);
}

/* Sandwich */

.sandwich {
	background-image: url('media/Sandwich.png');
}

.walk-sandwich {
	animation: Walk-Sandwich 1s steps(2, jump-start);
	animation-iteration-count: infinite;
}

@keyframes Walk-Sandwich {
	0% { rotate: -5deg; }
	50% { rotate:5deg; }
	100% { rotate: -5deg; }
}

/* Roti */

.roti {
	background-image: url('media/Roti.png');
	bottom: 16px;
}

.walk-roti {
	animation: Walk-Roti .75s steps(2, jump-start);
	animation-iteration-count: infinite;
}

@keyframes Walk-Roti {
	0% { rotate: -8deg; }
	50% { rotate:8deg; }
	100% { rotate: -8deg; }
}

/* Peng */

.peng {
	background-image: url('media/Peng.png');
	bottom: 16px;
}

.walk-peng {
	animation: Walk-Peng 1s steps(2, jump-start);
	animation-iteration-count: infinite;
}

@keyframes Walk-Peng {

	0% {
		rotate: -15deg;
		bottom: 16px;
	}

	25% {
		rotate: 5deg;
		bottom: 48px;
	}

	50% {
		rotate: 15deg;
		bottom: 16px;
	}

	75% {
		rotate: -5deg;
		bottom: 48px;
	}

	100% {
		rotate: -15deg;
		bottom: 16px;
	}

}

/* Mobile ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

@media (max-width: 768px) {

	#desktop {
		padding: 32px;
		display: flex;
	}

	#email-window .content-wrapper {
		flex-flow: column;
	}

	#mail-list {
		height: auto;
	}
}