@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

html {
	background-color: #ffc2b3;
	overflow: hidden;

	color: deeppink;
/*	color: #352310;*/
	font-family: 'Rubik Bubbles', sans-serif;
	letter-spacing: .0625rem;

	cursor: url('media/Mouse.png'), auto;
}

body {
	display: flex;
/*	padding-bottom: 32px;*/
}

.pointer {
	cursor: url('media/Pointer.png'), auto;
}

.zoom:hover {
	scale: 1.125;
}

.tilt:hover {
	rotate: 5deg;
}

.mandarin {
	font-family: "ZCOOL KuaiLe", sans-serif;
/*	font-weight: 500;*/
}

/* Login ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#login-wrapper {
	width: 100%;
	height: 100%;
	background-color: dodgerblue;

	display: flex;
/*	display: none;*/
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 0;
	left: 0;

	opacity: .95;
}

#login-ui {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#login-ui img {
	width: 64px;
	height: 64px;

	filter: brightness(3.0);
}

#login-ui p {

	margin-bottom: 48px;

	color: white;
	font-size: 2rem;
	text-align: center;
}

#login-btn {
	width: 256px;
	height: 64px;
	background-image: url('media/Mail-Selector.png');
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;

	scale: 1.5;
}

#login-btn:hover {
	scale: 1.6;
}

#login-btn::after {
	content: "LOGIN";
}

/* Desktop ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#desktop {
	width: 100%;
	height: 90%;
	background-color: floralwhite;

	margin: 16px;
	padding: 64px;
	box-sizing: border-box;
}

.icon {
/*	background-color: orange;*/
	margin-right: 32px;

/*	display: inline-block;*/
	display: inline-flex;
	flex-flow: column;
	align-items: center;
}

.image {
	width: 128px;
	height: 128px;
/*	background-color: #f19af9;*/
}

#trash.image {
	background-image: url('media/Trash-Closed.png');
}

#trash.image:hover {
	background-image: url('media/Trash-Open.png');
}

#trash.image::after {
	content: url('media/Trash-Open.png');
	width: 0;
	height: 0;
	z-index: -1;

	position: absolute;

	overflow: hidden;
}

#mail.image {
	background-image: url('media/Mail.png');
}

.icon p {
	margin-top: 8px;
}

/* Programs ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#email-wrapper {
	width: 100%;
	height: 100%;
/*	background-color: rgba(220, 80, 80, .5);*/
	background-color: rgba(255, 255, 255, .5);

/*	display: flex;*/
	display: none;

	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.window {
	width: 75%;
	height: 80%;
	background-color: floralwhite;

/*	display: flex;*/
/*	flex-flow: column;*/

	position: relative;

	border-radius: 16px;

	overflow: hidden;

	border: solid 10px #362411;

	box-shadow: 16px 16px 8px rgba(30, 144, 255, .5);
}

.control-wrapper {
	width: 100%;
	height: 64px;
	background-color: dodgerblue;

/*	position: relative;*/
}

#email-window .control-wrapper::before {
	content: "SweetSnack - Inbox";

	position: absolute;
	top: 24px;
	left: 24px;

	color: floralwhite;
	text-transform: uppercase;
}

.back-btn {
	width: 64px;
	height: 64px;
	background-image: url('media/Cancel.png');
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
/*	background-color: red;*/

	position: absolute;
	top: 0;
	right: 0;

	z-index: 200;
}

.content-wrapper {
	width: 100%;
	height: 100%;
	background-color: floralwhite;

	display: flex;
}

/* Email ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#email-window {
/*	z-index: 2000;*/
}

#mail-list {
	width: 30%;
	min-width: 256px;
	height: 100%;
	background-color: lightskyblue;

	display: flex;
	align-items: center;
	flex-flow: column;

	padding-top: 16px;
}

#mail-list div {
	width: 256px;
	height: 64px;
	background-image: url('media/Mail-Selector.png');
/*	background-color: yellow;*/

	display: flex;
	justify-content: center;
	align-items: center;
}

#mail-list p {
	padding: 8px;
}

#reading-view {
	width: 70%;
	height: 100%;
	background-color: floralwhite;
	background-image: url('media/Flower.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.message {
	width: 100%;
	height: 100%;
	background-color: floralwhite;

	display: none;

/*	display: flex;*/
/*    justify-content: center;*/
	align-items: baseline;
    flex-flow: column;

	padding: 32px;
	box-sizing: border-box;

	font-size: 2rem;
}

#birthday.message {
	justify-content: center;
	flex-flow: row;
}

#reading-view p {
	padding: 16px 0;
}

/* Letter ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#envelope {
	width: 50%;
	max-width: 512px;
	height: auto;
/*	background-image: url('media/Envelope.png');*/
/*	background-repeat: no-repeat;*/
/*	background-size: 100%;*/
/*	background-color: yellow;*/

/*	rotate: 5deg;*/
}

#envelope:hover {
	rotate: 2.5deg;
}

#letter-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 213, 75);

/*	display: flex;*/
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
	z-index: 200;
}

#letter {
	width: 50%;
	height: auto;
	background-color: beige;

	padding: 32px;

	position: absolute;

	color: royalblue;
	font-size: 1.5rem;
	font-family: "Playpen Sans", sans-serif;
	letter-spacing: 0;

	box-shadow: 8px 8px 12px rgba(54, 35, 17, .5);

	rotate: 5deg;
}

#letter p {
	margin-bottom: 64px;
}

/* Milo ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#milo-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .75);

/*	display: flex;*/
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
}

.card {
	width: 256px;
	height: 256px;
	background-color: pink;

	margin: 0 8px;
}

/* Mobile ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

@media (max-width: 768px) {
	#email-window .content-wrapper {
		flex-flow: column;
	}
}